$color1: #eff0f3;
// $color2: #f07a5d;
$color2: #5896a8;
$color3: #004674;
$color4: whitesmoke;
$color5: #161513;
$color6: rgb(228, 75, 4);

// przypisujemy zmiennym inne zmienne z kolorami
$text-header-h1: $color1;
$border-color-h1: $color2;
$text-link-color: $color1;
$color-light: $color4;
$footer-background: $color5;
$menu: $color6;

