header {
    // funkcja url do funkcji przekazujemy parametry wewnatrz ()
    // cover rozciaga a no repeat nie pozwala na kopiowanie obrazka na boki
    background: url('../img/start.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    // background attachment - obrazek się nie przesuwa tylko sekcje nachodza na niego
    background-attachment: fixed;

    nav {
        position: absolute;
        width: 100%;
        padding: 2rem;
        background-image: url('../img/dott.png');

        ul {
            // robimy z kontenera flexboxa
            display: flex;
            justify-content: space-evenly;
            li {
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    font-size: 2rem;
                    letter-spacing: .3rem;
                    color: $text-link-color;
                    text-decoration: none;
                    // dodajem & zeby sie skleiło a z pseudoklasą before
                    &::before, &::after {
                        // w before after content jest zawsze pusty
                        content: '';
                        display: block;
                        height: .2rem;
                        width: 100%;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        // transition: all .5s ease;
                        // transform: scale(0);
                        // zmiana zeby kreska szła od srodka a ne od lewej
                        // margin: 0 auto;
                        // left: 0;
                        // right: 0;
                    }
                    &::after {
                        // w before after content jest zawsze pusty
                        content: '';
                        display: block;
                        width: 0%;
                        background-color: $border-color-h1;
                        transition: all .5s ease;
                    }
                    &:hover::after {
                        width: 100%;
                        // transform: scale(1);
                    }
                }
            }
        }
    }

    h1 {
        position: absolute;
        // ustawienie na srodku w poziomie
        // margin: 0 auto;
        // left: 0;
        // right: 0;
        width: 60%;
        // ustawienie na srodku w pionie
        // top: 50%;
        left: 50%;
        bottom:10%;
        // przesuwamy o połowę do góry i w lewo
        transform: translate(-50%, -50%);
        padding:2.5rem;
        border: .4rem solid $border-color-h1;
        border-radius: .8rem;
        background-image: url('../img/dott.png');
        text-align: center;
        color: $text-header-h1;
        font-size: 6.5rem;
        letter-spacing: .5rem;
        

    }
}