header {
    background: url('../img/start.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;

    nav {
        position: absolute;
        width: 100%;
        padding: 2rem;
        background-image: url('../img/dott.png');

        ul {
            display: flex;
            justify-content: space-evenly;
            li {
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    font-size: 2rem;
                    letter-spacing: .3rem;
                    color: $text-link-color;
                    text-decoration: none;

                    &:hover {
                        transform: rotate(5deg) scale(1.1);
                        color: $menu;
                    }
                }
            }
        }
    }

    h1 {
        position: absolute;
        width: 60%;
        left: 50%;
        bottom:10%;
        transform: translate(-50%, -50%);
        padding:2.5rem;
        border: .4rem solid $border-color-h1;
        border-radius: .8rem;
        background-image: url('../img/dott.png');
        text-align: center;
        color: $text-header-h1;
        font-size: 6.5rem;
        letter-spacing: .5rem;
    }
}